*{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif Todhri","Montserrat",serif;
    font-weight: 400;
    font-style: normal;
}
nav {
    position: fixed; /* Fixe la position de la navigation */
    top: 0; /* Place la navigation en haut de la page */
    left: 0; /* Aligne la navigation à gauche */
    width: 100%; /* Étire la navigation sur toute la largeur de la page */
    z-index: 15; /* Place la navigation au-dessus du contenu */
    background-color: #fff; /* Couleur de fond (ajustez selon vos besoins) */
    padding: 5px; /* Espacement interne */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre pour un effet plus réaliste */
  }
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 1%;
    display:flex;
    justify-content: center;
    align-items: center;
}
nav ul a {
    text-decoration: none;
    color: rgb(10, 5, 5);
}
nav ul a:hover {
    display: flexbox;
    color: rgb(255, 123, 0); /* Couleur du texte au survol */
}
nav ul li{
    padding: 0 15px;
}

 /* Home du site  */

.contenaireHome {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.img-container img{
    width: 100%;
    height: 100%;
  
}
.contenaireHome h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    z-index: 10;
    text-align: center;
}

/* text accueil*/

.text-home{
margin: 50px 0 0 0;
}
.text-home .text-center{
    text-align: center;

}
.text-home div{
    margin: 2% 20%;
}
.text-home p{
    margin: 2% 20%;
}
.text-home span {
    font-weight: 800;
}