*{
    margin: 0;
    padding: 0;
}
nav {
    position: fixed; /* Fixe la position de la navigation */
    top: 0; /* Place la navigation en haut de la page */
    left: 0; /* Aligne la navigation à gauche */
    width: 100%; /* Étire la navigation sur toute la largeur de la page */
    z-index: 1; /* Place la navigation au-dessus du contenu */
    background-color: #fff; /* Couleur de fond (ajustez selon vos besoins) */
    padding: 5px; /* Espacement interne */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre pour un effet plus réaliste */
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 1%;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul a {
    text-decoration: none;
    color: rgb(10, 5, 5);
}
ul a:hover {
    display: flexbox;
    color: rgb(255, 123, 0); /* Couleur du texte au survol */
}
ul li{
    padding: 0 15px;
}

 /* Home du site  */

.imgHome{
    width: 100%;
    height: 100vh;
}